[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MDEI"]
	path = MDEI
	url = https://github.com/ratkovic/mdei
[submodule "sparsereg"]
	path = sparsereg
	url = https://github.com/cran/sparsereg
